.Rproj.user
.DS_Store
public/

website-data/~$course-schedule.xlsx

nopublish/
data/kaggle-data/

content/post/homework-1/index.Rmarkdown

content/post/lab-2/index.Rmarkdown
content/post/lab-2/index_files/figure-html/

content/post/lab-3/index.Rmarkdown
content/post/lab-3/index_files/
content/post/lab-3/lab-3_files/

static/slides/w5p1_cache/
data/crime.csv

content/post/homework-2/index.Rmarkdown
content/post/homework-2/index_files/*