.Rproj.user
.DS_Store
public/

website-data/~$course-schedule.xlsx

nopublish/
data/kaggle-data/

static/slides/w5p1_cache/
data/crime.csv

content/post/homework-2/index.Rmarkdown
static/slides/w9p1_cache/
