body {
	font-size: 1.1rem;
}
table {
	font-size: 1.1rem;
}

.inverse .footnote {
  border-top: 1px solid #E1E000;
  padding-top: 5px;
  color: #fff;
  font-size: 0.2em;
  bottom: 1em;
}

.b {
	color: #76A7D8;
}

.r {
	color: #D85B5B;
}

.gray {
	color: #888994;
}