a {
	color: #808aff !important;
}

a:hover {
	color: #ff65ad !important;
	text-decoration: none !important;
}

#subtitle {
	color: #62676a;
	font-size: 1.25rem;
	font-style: italic;
	margin-top: -10px;
	margin-bottom: 2rem;
	padding-top: 0px;
}


div#home-jumbotron.jumbotron {
	text-align: left !important;
}

div#home-jumbotron.jumbotron h1 {
	text-align: center !important;
}

div#home-jumbotron.jumbotron #subtitle {
	text-align: center !important;
}

th {
	background-color: #B8E1FF;
	/*color: white;*/
	font-weight: normal;

}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #e5f4ff;
}

div.sds-book {
  float: right;
  margin-left: 0.5em;
  padding: 1em;
  max-width: 300px;
  min-height: 20px;
  background-color: #e5f4ff;
  border-radius: 10px;
}

