<div class = "course-books">

	<a class = "happygit" href= "https://happygitwithr.com/"> <i data-feather="book"></i>
		<span class = "book-title"> Happy git with R</span>
	</a>
		<span class = "book-author"> Jenny Bryan</span> 
		<br/>

	<a class = "r4ds" href="https://r4ds.had.co.nz/"> <i data-feather="book"></i>
		<span class = "book-title"> R for Data Science</span>
	</a>
		<span class = "book-author"> Hadley Wickham & Garrett Grolemund</span>
		<br/>

	<a class = "socviz" href="https://socviz.co/"> <i data-feather="book"></i>
		<span class = "book-title"> Data Visualization: A Practical Introduction</span>
		</a>
		<span class = "book-author"> Kieran Healy</span>
		<br/>

	<a class = "dataviz" href="https://clauswilke.com/dataviz/"> <i data-feather="book"></i>
		<span class = "book-title"> Fundamentals of Data Visualization</span>
		</a>
		<span class = "book-author"> Claus O. Wilke</span>
		<br/>
		
	<a class = "other" href=""> <i data-feather="book"></i>
		<span class = "book-title"> Other content not in the course books</span>
		</a>
		<span class = "book-author"></span>

</div>